@import 'nib'

global-reset()

col-count = 6
row-count = 3

html
  height 100%

body
  background #16161D
  height 100%

#pics
  height 100%

  li
    float left
    width  (100 / col-count)%
    height (100 / row-count)%

    a.people
      display block
      outline none
      background-position center top
      background-size cover
      width  100%
      height 100%
