doctype html
html(ng-app="mi")
  head
    meta(charset="utf-8")
    title prototype
    link(rel="stylesheet" type="text/css" href="/style.css")
  body(ng-controller="MiController")
    ul#pics
      li(ng-repeat="people in data")
        a.people(ng-style="people.style" href="#")
    script(src="/lib/vendor.js")
    script(src="/main.js")
