doctype html
html(ng-app="mi")
  head
    meta(charset="utf-8")
    title prototype
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/semantic-ui/0.15.1/css/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="/style.css")
  body(ng-controller="MiController")
    #container
      ul#pics
        li(ng-repeat="people in data")
          a.people(ng-style="people.style" ui-sref="people({id:$index})")
    #menu.ui.inverted.menu
      a.item(ui-sref="home") 薪新職人
      a.item(ui-sref="about") about
    #modal.ui.modal(ui-view)
    script(src="/lib/vendor.js")
    script(src="//cdn.jsdelivr.net/semantic-ui/0.15.1/javascript/semantic.min.js")
    script(src="/main.js")
